.Pilot
	border-radius    10rem
	color            @css { hsla(var(--fg-hsl), 1) }
	display          inline-flex
	flex-flow        row
	font-size        0.8rem
	justify-content  center
	position         relative
	padding          0.2rem


.Pilot-ship-pic
	border-radius 1.5rem
	flex-shrink   1
	height        3rem
	width         3rem
	overflow      hidden


.Pilot[data-is-compact='true']

	.Pilot-summary
		display none


.Pilot[data-is-victim='true']
	background-color @css { hsla(var(--threat-low-hsl),    0.1) }
	color            @css { hsla(var(--threat-low-fg-hsl), 1.0) }

	.Pilot-ship-pic
		border solid 2px @css { hsla(var(--threat-low-hsl), 0.5) }


.Pilot[data-is-victim='false']
	background-color @css { hsla(var(--threat-high-hsl),    0.1) }
	color            @css { hsla(var(--threat-high-fg-hsl), 1.0) }

	.Pilot-ship-pic
		border solid 2px @css { hsla(var(--threat-high-hsl), 0.5) }


.Pilot-summary
	display         flex
	flex-flow       column
	flex-grow       1
	justify-content center
	padding-left    0.5rem
	padding-right   1rem


.Pilot-ship
	font-weight 600
	white-space nowrap


.Pilot-name
	margin-top  0.25rem
	opacity     0.8
	white-space nowrap
