template#templateSystem
	div.System
		div.System-summary
			span.System-status
			a.System-name(target='_blank')
			span.System-isk-destroyed(title='ISK Destroyed in the last hour')
			button.System-do-get-encounters(type='button') Get system info

		div.System-encounters
