script#DATA
	| (() => {
	| 	'use strict';
	| 
	| 	window.SYSTEM_DATA = mapSystemsByName(
	include ./SYSTEM_DATA.json
	| 	);
	|
	| 
	| 	function mapSystemsByName(systems = []) {
	| 		const mapped = systems
	| 			.reduce((out, { solarSystemID, solarSystemName, security } = {}) => {
	| 				out[solarSystemName] = Object.freeze({
	| 					solarSystemName,
	| 					solarSystemID: parseInt(solarSystemID) ?? undefined,
	| 					security:      parseFloat(security)    ?? undefined,
	| 				});
	| 				return out;
	| 			}, {})
	| 		;
	| 
	| 		return Object.freeze(mapped);
	| 	}
	|
	| 
	| })();
